<div class="container">
    <span>
        <img (click)="animacionLogo($event)" src="assets/logo/dibujo1.png" width="120px" height="120px" alt="Logo">
    </span>
    
    <form class="formulario" [formGroup]="form">
        <div class="etiqueta">
            <!-- <label for="nombre">{{"Name"|translate:selected()}}</label> -->
            <label for="nombre"><shared-lang texto="Name" /></label>
            <input id="nombre" type="text" placeholder="{{'Name'|translate:selected()}}" formControlName="nombre">
            @if(form.controls['nombre'].touched && form.controls['nombre'].errors){
            <span class="error"><shared-lang texto="Obligatorio" /></span>
            }
        </div>
        <div class="etiqueta">
            <label for="password"><shared-lang texto="Password" /></label>
            <input id="password" type="password" placeholder="{{'Password'|translate:selected()}}" formControlName="password">
            @if(form.controls['password'].touched && form.controls['password'].errors){
            <shared-lang class="error" texto="Obligatorio" />
        }
    </div>
    <!-- <div>
        <input type="checkbox" name="recuerdame" id="recuerdame">
        <label for="recuerdame">{{'Remember me'|translate:selected()}}</label>
    </div> -->
    <div class="botones">
        <div class="admin">
            <bandera/>
            <button><shared-lang (click)="goAdmin()" texto="admin" /></button>
        </div>
        <div>
            <button><span [routerLink]="['/registro']"><shared-lang texto="Register" /></span></button>
            <button (click)="login()" [disabled]="!form.valid"><shared-lang texto="Log in" /></button>
        </div>
    </div>
</form>
</div>