<!-- <button (click)="cambiarModoPlato()">
    {{seleccionarExistente ? "Crear Plato" : "Seleccionar Plato"}}
</button> -->
<div class="container">

    <form [formGroup]="form" (ngSubmit)="updatePlato()">
       
        <!-- Plato nombre -->
        <div class="input">
            <label for="nombre"><shared-lang texto="nameDish" /></label>
            <input id="nombre" formControlName="nombre" type="text" placeholder="{{'nameDish'|translate:selected()}}">
        </div>

        <!-- Plato Descripcion -->
        <div class="input">
            <label for="descripcion"><shared-lang texto="descDish" /></label>
            <textarea id="descripcion" formControlName="descripcion" type="text"
                placeholder="{{'descDish'|translate:selected()}}"></textarea>

        </div>
        

        <!--  pla_res valoracion -->
        <div class="input">
            <label for="valoracion"><shared-lang texto="rate" /></label>
            <input type="number" id="valoracion" formControlName="valoracion" min="0" max="10">
        </div>

        <!-- pla_res comentario -->
        <div class="input">

            <label for="comentario"><shared-lang texto="Comment" /></label>
            <textarea id="comentario" formControlName="comentario" type="text"
                placeholder="{{'Comment'|translate:selected()}}"></textarea>
        </div>

        @if(seleccionarExistente){
        <button (click)="valorarPlato()" type="button" [disabled]="!form.valid">
            <shared-lang texto="newPla" />
        </button>
        }
        @else{
        <button (click)="updatePlato()" type="button" [disabled]="!form.valid">
            <shared-lang texto="upPla" />
        </button>
        }
    </form>
</div>